<script>
  import { createEventDispatcher } from 'svelte';
  export let disabled = false;

  const dispatch = createEventDispatcher();

  function handleClick() {
    if (disabled === false) {
      dispatch('action');
    }
  }
</script>

<button {disabled} on:click on:click={handleClick}>
  <slot />
</button>
