<!-- a finir -->

<script>
export let items = [];
export let active = null;

function handleClick(id) {
  active = id;
}
</script>

<div>
  {#each items as item}
    <button on:click={() => {handleClick(items.id)}}>{item.name}</button>
  {/each}
  <slot {active}></slot>
</div>


<style>
</style>